@model GmailClient.Models.ComposeMailModel
@{
    ViewBag.Title = "Compose";
}

<div id="target">
    <div id="status"></div>
    @{
        var options = new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "target",
            OnFailure = "ShowError()",
            OnSuccess = "ShowSuccess()"
        };
    }
    @using (Ajax.BeginForm("Send", "Mail", options))
    {
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.To, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.To, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.To)
        </div><!--//form-group-->
        <div class="form-group email">
            @Html.LabelFor(model => model.Subject, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Subject, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Subject)
        </div><!--//form-group-->
        <div class="form-group message">
            @Html.LabelFor(model => model.Message, new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = 5 })
            @Html.ValidationMessageFor(model => model.Message)
        </div><!--//form-group-->
        <button type="submit" class="btn btn-primary">Send</button>
    }
    <script>
        function ShowError() {
            $("#status").removeClass();
            $("#status").addClass("alert alert-warning");
            $("#status").html("Error");
        }

        function ShowSuccess() {
            $("#target").removeClass();
            $("#target").addClass("alert alert-success");
        }
    </script>
</div><!--//target-->
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}